<h2><%= @article.title %></h2>
<ul>
  <li>Description:  <%= @article.description %></li>
  <li>Price: $<%= @article.price %></li>
  <li>Email: <%= @article.email %></li>
</ul>
<p><%= link_to 'Edit', edit_category_article_path(@article.category_id, @article) %>
<%= link_to 'Delete', category_article_path(@article.category_id, @article), method: :delete, data:{confirm: "Delete '#{@article.title}': Are you sure?"} %></p>
